---
import type { GetStaticPaths } from "astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
    const posts =
        await getCollection("posts")
    const tags = [
        ...new Set(posts.map((p) => p.data.tags).flat() as string[]),
    ];

    return tags.map((tag: string) => {
        const filteredPosts =
            posts.filter((p) => p.data.tags.includes(tag));
            
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}) satisfies GetStaticPaths;

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
    <p class="mb-5">Entradas etiquetadas con <strong>{tag}</strong>:</p>
    <section class="pb-5 flex flex-col gap-4">
        {
            posts.map((post) => (
                <BlogPost url={`/posts/${post.slug}` ?? ""} title={post.data.title} />
            ))
        }
    </section>
</BaseLayout>
