---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = await Astro.glob('./posts/*.md')

---

<BaseLayout pageTitle="Mi blog de aprendizaje">
  <section class="flex-1">
    <p>Aquí es donde publicaré acerca de mi viaje aprendiendo Astro.</p>
    <ul class="grid gap-4 my-4">
      { 
        posts.map(post => (
          <BlogPost 
            title={post.frontmatter.title} 
            url={post?.url ?? '#'} 
            description={post.frontmatter.description}  
          />
        ))
      }
    </ul>
</section>
</BaseLayout>
