---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";


---

<BaseLayout pageTitle="Home">
	<h2>Mi primer pagina en Astro 🚀</h2>
</BaseLayout>
