---
const githubProfile = 'https://github.com/jusepemu'
---

<footer class="flex justify-center">
   Hecho con ❤️ by 
   <a href={githubProfile} target="_blank" class="font-semibold">Jusepemu</a>
</footer>